<div class="signup">
  <nav class="navbar navbar-default" style='background-color:#3a94ca;'>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <%= link_to image_tag('logo.png', style: :'width:75%;padding-top:10px;') ,root_path %>
      </div>
    </div><!-- /.container-fluid -->
  </nav>


<!-- -->
<div class="userlogin">
<div class="container">
<div class="row">
    <!-- <div class="signup_error_message">
      <%#= devise_error_messages! %>
    </div>-->
      <div class="col-centered login-wrapper">
        <div class="login-tab">
          <div class="col-xs-6 text-center login-tab-item">
            <a href="/users/sign_up">
              <h4>註冊</h4>
            </a>
          </div>
          <div class="col-xs-6 text-center login-tab-item unactive">
            <a href="/users/sign_in">
              <h4>登入</h4>
            </a>          
            </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-12 login-form">
          <div class="col-md-12">
            <br> 
            <p>您可以使用Email註冊:</p>
            <div class="email">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                
                <div class="form-group">
                  <%= f.email_field :email, autofocus: true, class: :'form-control login-username' ,placeholder: "輸入Email" %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password, autocomplete: "off", class: :'form-control login-password ',placeholder: "輸入密碼(最少八個字)"%>
                </div>
                <div class="form-group">
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: :'form-control login-password ',placeholder:"再次輸入密碼以確認" %>
                </div>
                <div class=""> 
                  <%= f.submit "註冊", class: :'submitbtn', style: :'color:white;background-color:#3a94ca;' %>
                </div>
              <% end %>          
            </div>
            <br>
            <p>或直接透過FB帳號登入:</p>
            <div class="auth">          
              <%- resource_class.omniauth_providers.each do |provider| %>
                <a class="btn btn-block btn-lg btn-social btn-facebook" href="<%= omniauth_authorize_path(resource_name, provider) %>">
                  <i class="fa fa-facebook"></i> 使用 Facebook 帳號登入
                </a>
                <%#= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
              <% end -%>         
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="announcement">
          <span class="glyphicon glyphicon-info-sign"></span>
          按下註冊/登入即代表您同意用戶條款和隱私權政策
        </div>
        <div class="clearfix"></div>


      </div>
</div>
</div>
</div>


<!-- -->
</div>
