<%= render 'layouts/nav' %>
<div class="container">
  <div class="row1" style="width: 100px;margin:0 auto;">
    <% if @user.image %>
      <%= image_tag @user.image+"?height=200", :style=>"height:100px;border-radius:4em;margin-top:30px" %>
    <% else %>
      <%= image_tag "member_head.png", :style=>"height:100px;border-radius:4em;margin-top:30px" %>
    <% end %>
  </div>
  <%#= link_to '更新資料',edit_user_path, class: :'btn btn-warning' %>
  <div style="text-align: center;">
    <div class="user_show_divider">
      <span calss="user_show_username"><%= @user.name %></span>
    </div>
  </div>

  <div style="width:40%;margin:0px auto;">
    <%= image_tag 'france.png', :style=>"width:10%;"%>
    <%= image_tag 'germany.png', :style=>"width:10%;"%>
    <%= image_tag 'united kingdom.png', :style=>"width:10%;"%>
    <%= image_tag 'england.png', :style=>"width:10%;"%>
    <%= image_tag 'united states.png', :style=>"width:10%;"%>
    <br>
    <%= image_tag 'flag_Australia.png'%>
    <%= image_tag 'flag_Australia.png'%>
    <%= image_tag 'flag_Australia.png'%>
    <%= image_tag 'flag_Austria.png'%>
    <%= image_tag 'flag_Austria.png'%>
    <%= image_tag 'flag_Austria.png'%>
    <%= image_tag 'flag_Azerbaijan.png'%>
  </div>

  <div style="border-width:1px;border-style:dotted none;border-color:gray;padding:5px;width:40%;margin:10px auto;">
    <p style="color:gray;font-size: 20px;display: inline-block;margin:10px 0 10px 10px">Cumulative Miles</p>
    <p class="pull-right" style="margin:10px 10px 10px 0;font-size: 20px;display: inline-block;">453235</p>
    <br>
    <p style="color:gray;font-size: 20px;display: inline-block;margin-left: 10px;">Rank</p>
    <p class="pull-right" style="margin-right:10px;font-size: 20px;display: inline-block;">1/453235</p>
  </div>

  <div style="width:40%;margin:0px auto;text-align: center;">
    <div style="width:30%;display: inline-block;">
      <p style="color:gray;font-size: 20px;">Albums</p>
      <p style="font-size: 20px;">16</p>
    </div>
    <div style="width:33%;display: inline-block;border-width:1px;border-style:none dotted;border-color:gray;padding-left: 5px;">
      <p style="color:gray;font-size: 20px;">Followers</p>
      <p style="font-size: 20px;">168168168</p>
    </div>
    <div style="width:30%;display: inline-block;">
      <p style="color:gray;font-size: 20px;">Following</p>
      <p style="font-size: 20px;">999</p>
    </div>
  </div>

  <div>
    <div class="text-center" style="margin-top: 30px;">
      <p style="color: #3a94ca;font-size:26px;">About</p>
    </div>
    <div style="width:40%;margin:0px auto;font-size:18px;word-wrap:break-word;">
      <%=simple_format @user.about_user %>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 30px;padding-bottom:20px">
  <% if current_user == nil %>
    <div style="width:30%;margin:0 auto;">
      <%= link_to image_tag("addtofollow.png",class: :"u_s_member_follow_pic", onmouseover: "this.src='#{asset_path('addtofollow_hover.png')}'", onmouseout: "this.src='#{asset_path('addtofollow.png')}'",:'data-toggle'=>'tooltip', :'data-placement'=>'auto top', :title=>'追蹤此人'), new_session_path(:user),  :data => { :confirm => "請先登入在追蹤此用戶唷！！"} %>&nbsp;
      <p class="u_s_member_follow_text" style="font-size:26px;display:inline;color: #d5d5d5;vertical-align:middle;">Add To My Followings</p>
    </div>
  <% elsif current_user.id != @user.id %>    
    <div>
      <% follow = current_user.find_my_following(@user) %>
        <div id="follow_block_<%= @user.id %>" class="u_s_member_follow" style="color: #d5d5d5;margin:0px auto;width:350px;">
          <%= render :partial => "follows/follow", :locals => { :follow => follow } %>
        </div>
    </div>
  <% elsif @user.id == current_user.id %>
    <div class="u_s_new_album col-md-3" style="color: #d5d5d5;">
      <%= link_to new_post_path do
        image_tag("member_new.png",class: :"u_s_new_album_pic", style: :"width:20%", onmouseover: "this.src='#{asset_path('member_new_hover.png')}'", onmouseout: "this.src='#{asset_path('member_new.png')}'")
      end %>&nbsp;
      <p class="u_s_new_album_text" style="font-size:26px;display:inline;vertical-align:middle;">New Album</p>
    </div>
    <div class="u_s_manage_albums col-md-3" style="color: #d5d5d5;">
      <%= link_to posts_path do
        image_tag("member_manage.png",class: :"u_s_manage_albums_pic", style: :"width:20%", onmouseover: "this.src='#{asset_path('member_manage_hover.png')}'", onmouseout: "this.src='#{asset_path('member_manage.png')}'")
        end %>&nbsp;
      <p class="u_s_manage_albums_text" style="font-size:26px;display:inline;vertical-align:middle;">Manage Albums</p>
    </div>
    <div class="u_s_member_favorit col-md-3" style="color: #d5d5d5;">
      <%= link_to new_post_path do
        image_tag("member_favorit.png",class: :"u_s_member_favorit_pic", style: :"width:20%", onmouseover: "this.src='#{asset_path('member_favorit_hover.png')}'", onmouseout: "this.src='#{asset_path('member_favorit.png')}'")
      end %>&nbsp;
      <p class="u_s_member_favorit_text" style="font-size:26px;display:inline;vertical-align:middle;">My followings</p>
    </div>
    <div class="u_s_member_trash col-md-3" style="color: #d5d5d5;">
      <%= link_to posts_path anchor: 'trashcan' do
        image_tag("member_trash.png",class: :"u_s_member_trash_pic", style: :"width:20%", onmouseover: "this.src='#{asset_path('member_trash_hover.png')}'", onmouseout: "this.src='#{asset_path('member_trash.png')}'")
      end %>&nbsp;
      <p class="u_s_member_trash_text" style="font-size:26px;display:inline;vertical-align:middle;">Trash Can</p>
    </div>
  <% end %>
</div>

  <div class="clearfix"></div>
  <div style="background-color:#f2efef; padding-top:40px;">
    <div class="container">
      <% @posts.each do |post| %>
        <div id="u_s_post_<%= post.id %>" style="display: inline-block;">
          <% if post.photos.first %>
          <div class="u_s_post_photo">
          <%= link_to image_tag(post.photos.first.pic.url(:medium), class: :"u_s_post_photo_area",style: :"width:210px;border-top-right-radius:10px;border-top-left-radius:10px;"), post_path(post) %>
          </div>
          <p class="text-center" style="margin:0;padding:4px 4px 0 4px;"><%= image_tag ("main_map.png"), alt: :"icon", style: :"height:30px;"%><%= post.destination %></p>
          <p class="text-center" style="padding:3px 0;margin:0 10px;border-top:1px solid #e5e5e5;"><%=link_to image_tag(post.user.image, style: :'height:40px;border-radius:20px;margin-right:10px;'), user_path(post.user) %><%= post.user.name %></p>
        </div>
          <% else %>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <%= image_tag ("main_map.png"), alt: :"icon", style: :"height:60px;"%>
    <p style="color: #3a94ca;font-size:20px;">My Travel Footprint</p>
    <br>
  </div>
  <!-- google map -->
  <div id="map"></div>

<script>
  $('.u_s_new_album_pic').hover(function(){
          $('.u_s_new_album_text').css("color","#3a94ca");
          }, function(){
          $('.u_s_new_album_text').css("color", "#d5d5d5");
      });
  $('.u_s_manage_albums_pic').hover(function(){
          $('.u_s_manage_albums_text').css("color","#3a94ca");
          }, function(){
          $('.u_s_manage_albums_text').css("color", "#d5d5d5");
      });
  $('.u_s_member_favorit_pic').hover(function(){
          $('.u_s_member_favorit_text').css("color","#3a94ca");
          }, function(){
          $('.u_s_member_favorit_text').css("color", "#d5d5d5");
      });
  $('.u_s_member_trash_pic').hover(function(){
          $('.u_s_member_trash_text').css("color","#3a94ca");
          }, function(){
          $('.u_s_member_trash_text').css("color", "#d5d5d5");
      });
  $('.u_s_member_follow_pic').hover(function(){
          $('.u_s_member_follow_text').css("color","#3a94ca");
          }, function(){
          $('.u_s_member_follow_text').css("color", "#d5d5d5");
      });
var poly;
var map;
function initialize() {
  // Create an array of styles.
  <%= render 'layouts/mapStyles' %>

  // Create a new StyledMapType object, passing it the array of styles,
  // as well as the name to be displayed on the map type control.
  var style1 = new google.maps.StyledMapType(style1,
    {name: "Style1"});
  var style2 = new google.maps.StyledMapType(style2,
      {name: "Style2"});
  var style3 = new google.maps.StyledMapType(style3,
      {name: "Style3"});
  var style4 = new google.maps.StyledMapType(style4,
      {name: "Style4"});
  var style5 = new google.maps.StyledMapType(style5,
      {name: "Style5"});

  // Create a map object, and include the MapTypeId to add
  // to the map type control.
  var mapOptions = {
    zoom: 2,
    center: new google.maps.LatLng(23.26, 0),
    // center: {lat: -34, lng: 151},
    scrollwheel: false,
    mapTypeControlOptions: {
      mapTypeIds: [google.maps.MapTypeId.ROADMAP,'style1','style2','style3','style4','style5']
    }
  }; //mapOptions

  map = new google.maps.Map(document.getElementById('map'),
    mapOptions);

  // Associate the styled map with the MapTypeId and set it to display.
  map.mapTypes.set('style1', style1);
  map.setMapTypeId('style1');
  map.mapTypes.set('style2', style2);
  map.setMapTypeId('style2');
  map.mapTypes.set('style4', style4);
  map.setMapTypeId('style4');
  map.mapTypes.set('style5', style5);
  map.setMapTypeId('style5');
  map.mapTypes.set('style3', style3);
  map.setMapTypeId('style3');

  poly = new google.maps.Polyline({
    strokeColor: '#000000',
    strokeOpacity: 1.0,
    strokeWeight: 3
  });
  poly.setMap(map);

  // Add a listener for the click event
  map.addListener('click', addLatLng);

  // google.maps.event.addDomListener(
  //         window, 'load', initialize);
}

// Handles click events on a map, and adds a new point to the Polyline.
function addLatLng(event) {
  var path = poly.getPath();

  // Because path is an MVCArray, we can simply append a new coordinate
  // and it will automatically appear.
  path.push(event.latLng);

  // Add a new marker at the new plotted point on the polyline.
  var marker = new google.maps.Marker({
    position: event.latLng,
    title: '#' + path.getLength(),
    map: map
  });
}
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh7eo2VWtvG5qnxk2VvAJsNis4WgHHveA&callback=initialize">
</script>