<%= render 'layouts/nav' %>
<div class="container">
  <h1>trashcan</h1>
  <br>
  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">All</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Published</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Locked</a></li>
      <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Trash Can</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">...</div>
      <div role="tabpanel" class="tab-pane" id="profile">...</div>
      <div role="tabpanel" class="tab-pane" id="messages">...</div>
      <div role="tabpanel" class="tab-pane" id="settings">...</div>
    </div>

  <div style="background-color:#f2efef; padding-top:40px;">
    <div class="container">
      <% @trash_posts.each do |post| %>
        <div id="u_s_post_<%= post.id %>" style="display: inline-block;">
          <% if post.photos.first %>
          <div class="u_s_post_photo">
          <%= link_to image_tag(post.photos.first.pic.url(:medium), class: :"u_s_post_photo_area",style: :"width:210px;border-top-right-radius:10px;border-top-left-radius:10px;"), post_path(post) %>
          </div>
          <p class="text-center" style="margin:0;"><%= image_tag ("main_map.png"), alt: :"icon", style: :"height:30px;"%><%= post.destination %></p>
          <p class="text-center" style="margin:0 0 20px">Lorem ipsum dolor sit.</p>
        </div>
          <% else %>
            N/A
          <% end %>
      <% end %>
    </div>
  </div>


  </div>
  <br><br>
</div>

<script>
  $('#myTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>