<!-- note -->
<!-- not finish yet -->
<table class="table table-hover">
  <thead style="background-color:#3a94ca; color:white;">
    <tr>
      <th>PHOTO</th>
      <th style="text-align:center;">AUTHOR</th>
      <th style="text-align:center;">DATE</th>
      <th style="text-align:center;">COUNTRY</th>
      <th style="text-align:center;">DESTINATION</th>
      <th style="text-align:center;">ORIGIN</th>
      <th style="text-align:center;">MILES</th>
    </tr>
  </thead>
  <tbody>
    <% @favorite_posts.each do |post| %>
    <tr>
      <td>
        <% if post.photos.first %>
          <div class="p_i_photo">
            <%= link_to image_tag(post.photos.first.pic.url(:medium), class: :"p_i_post_photo_area",style: :"width:210px;"), post_path(post) %>
          </div>
        <% else %>
          N/A
        <% end %>
      </td>
      <td style="padding-top:43px;">
        <div style="width:50px;margin:0 auto;">
          <%= link_to image_tag(post.user.image, style: :'border-radius:25px;'), user_path(post.user) %>
        </div>
      </td>
      <td style="text-align:center; padding-top:38px;">
        <%= post.start_date %><br>
        <div style="margin:0 auto; width:2px;">|</div><br>
        <%= post.return_date %>
      </td>
      <td> post.country </td>
      <td style="text-align:center; padding-top:61px;"><%= post.destination %></td>
      <td style="text-align:center; padding-top:61px;"><%= post.origin %></td>
      <td style="text-align:center; padding-top:61px;"><%= post.distance %></td>
    </tr>
    <% end %>
  </tbody>

</table>