<%= render 'layouts/nav' %>
<div class="container">
  <h1>Hi, <%= current_user.name %></h1>
  <p>Welcome to manage albums !</p>
  <p></p>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
      <li role="presentation"><a href="#published" aria-controls="published" role="tab" data-toggle="tab">Published</a></li>
      <li role="presentation"><a href="#draft" aria-controls="draft" role="tab" data-toggle="tab">Draft</a></li>
      <li role="presentation"><a href="#locked" aria-controls="locked" role="tab" data-toggle="tab">Locked</a></li>
      <li role="presentation"><a href="#following" aria-controls="following" role="tab" data-toggle="tab">Following</a></li>
      <li role="presentation"><a href="#favorites" aria-controls="favorites" role="tab" data-toggle="tab">Favorites</a></li>
      <li role="presentation"><a href="#trashcan" aria-controls="trashcan" role="tab" data-toggle="tab">Trash Can</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="all">
      <!--  -->
      <table class="table table-hover table-responsive">
        <thead style="background-color:#3a94ca; color:white;">
          <tr>
            <th class="p_i_all_post_photo_th">PHOTO</th>
            <th class="p_i_all_post_author_th" style="text-align:center;">AUTHOR</th>
            <th class="p_i_all_post_date_th" style="text-align:center;">DATE</th>
            <th class="p_i_all_post_country_th" style="text-align:center;">COUNTRY</th>
            <th class="p_i_all_post_destination_th" style="text-align:center;">DESTINATION</th>
            <th class="p_i_all_post_origin_th" style="text-align:center;">ORIGIN</th>
            <th class="p_i_all_post_distance_th" style="text-align:center;">MILES</th>
            <th class="p_i_all_post_favorite_th" style="text-align:center;"></th>
            <th class="p_i_all_post_locker_th" style="text-align:center;"></th>
            <th class="p_i_all_post_trashcan_th" style="text-align:center;"></th>
          </tr>
        </thead>
        <tbody>
          <% @all_posts.each do |post| %>
          <tr>
            <td class="p_i_all_post_photo_td">
              <% if post.photos.first %>
                <div class="p_i_photo">
                  <%= link_to image_tag(post.photos.first.pic.url(:medium), class: :"p_i_post_photo_area",style: :"width:210px;"), post_path(post) %>
                </div>
              <% else %>
                <%= link_to image_tag('default.jpg', class: :"p_i_post_photo_area",style: :"width:210px;"), post_path(post) %>
              <% end %>
            </td>
            <td class="p_i_all_post_author_td" style="vertical-align:middle;">
              <div style="width:50px;margin:0 auto;">
                <% if post.user.image %>
                  <%= link_to image_tag(post.user.image, style: :'border-radius:25px;'), user_path(post.user) %>
                <% else %>
                  <%= link_to image_tag('member_head.png', style: :'width:50px;border-radius:25px;'), user_path(post.user) %>
                <% end %>
              </div>
            </td>
            <td class="p_i_all_post_date_td" style="text-align:center; vertical-align:middle;white-space:nowrap;">
              <%= post.start_date %><br>
              <div style="margin:0 auto; width:2px;">|</div>
              <%= post.return_date %>
            </td>
            <td class="p_i_all_post_country_td" style="vertical-align:middle;">
             <div style=" margin:0 auto;width:40px">
              <% @post_countrys = post.post_countryships.uniq.each do |pc| %>
                <% country = Country.find(pc.country_id) %>
                <%= country_flag(country.name, "40px") %>
              <% end %>
              </div>
            </td>
            <td class="p_i_all_post_destination_td" style="text-align:center; vertical-align:middle;"><%= post.destination %></td>
            <td class="p_i_all_post_origin_td" style="text-align:center; vertical-align:middle;"><%= post.origin %></td>
            <td class="p_i_all_post_distance_td" style="text-align:center; vertical-align:middle;"><%= post.distance %></td>
            <td class="p_i_all_post_favorite_td" style="text-align:center; vertical-align:middle;">
              <% favorite = post.find_my_favorite(current_user) %>
                <div class="favorite_block_<%= post.id %>" style="display:inline;">
                  <%#= render :partial => "favorites/favorite", :locals => { :favorite => favorite, :post => @post } %>
                  <% if favorite %>
                    <%= link_to image_tag('album_sub_love_hover.png', :'data-toggle'=>'tooltip', :'data-placement'=>'auto bottom', :title=>'將此相簿加入我的最愛', style: :'margin-top:5px;'), post_favorite_path(post, favorite), :method => :delete, :locals => { :favorite => favorite }, :remote => true %>
                  <% else %>
                    <%= link_to image_tag('album_sub_love.png', :'data-toggle'=>'tooltip', :'data-placement'=>'auto bottom', :title=>'將此相簿加入我的最愛', style: :'margin-top:5px;'), post_favorites_path(post), :method => :post, :remote => true %>
                  <% end %>
                  <% if post.favorites.count > 0 %>
                    <%= post.favorites.count %> 
                  <% else %>
                  <% end %>
                </div>
            </td>
            <td class="p_i_all_post_locker_td" style="text-align:center; vertical-align:middle;">
              <% if current_user && post.user == current_user %>
                <div class="post_locker_<%= post.id %>" style="display:inline;">
                  <%#= render :partial => "locker", :locals => { :post => @post } %>
                  <% if post.status == 'locked' %>
                    <%= link_to image_tag("album_sub_lock.png",alt: :"sub_lock"),change_status_post_path(post,:status => :'published'), :method => :post, remote: :true %>
                  <% else %>
                    <%= link_to image_tag("album_sub_open.png",alt: :"sub_lock"), change_status_post_path(post, :status=> 'locked'), :method => :post, remote: :true %>
                  <% end %>
                </div>
              </td>
              <td class="p_i_all_post_trashcan_td" style="text-align:center; vertical-align:middle;">
                <div class="post_trashcan_<%= post.id %>" style="display:inline;">
                  <%#= render :partial => "trashcan", :locals => { :post => @post } %>
                  <% if post.status == 'trashcan' %>
                    <%= link_to image_tag("album_sub_trash_hover.png",alt: :"sub_trashcan"),change_status_post_path(post,:status => :'draft'),:method => :post, remote: :true %>
                  <% else %>
                    <%= link_to image_tag("album_sub_trash.png",alt: :"sub_trashcan"),change_status_post_path(post, :status=> 'trashcan'), :method => :post, remote: :true %>
                  <% end %>
                </div>
                <% end %>
              </td>
            </tr>
          <% end %>    <!-- 36 -->
        </tbody>
      </table>
      </div>

      <div role="tabpanel" class="tab-pane" id="published">
        <!--  -->
        <table class="table table-hover">
          <thead style="background-color:#3a94ca; color:white;">
            <tr>
              <th>PHOTO</th>
              <th style="text-align:center;">AUTHOR</th>
              <th style="text-align:center;">DATE</th>
              <th style="text-align:center;">COUNTRY</th>
              <th style="text-align:center;">DESTINATION</th>
              <th style="text-align:center;">ORIGIN</th>
              <th style="text-align:center;">MILES</th>
              <th style="text-align:center;"></th>
              <th style="text-align:center;"></th>
              <th style="text-align:center;"></th>
            </tr>
          </thead>
          <tbody>
            <% @published_posts.each do |post| %>
            <tr>
              <td class="p_i_published_post_photo_td">
                <% if post.photos.first %>
                    <div class="p_i_photo">
                      <%= link_to image_tag(post.photos.first.pic.url(:medium), class: :"p_i_post_photo_area",style: :"width:210px;"), post_path(post) %>
                    </div>
                  <% else %>
                    N/A
                  <% end %>
              </td>
                <td class="p_i_published_post_author_td" style="vertical-align:middle;">
                  <div style="width:50px;margin:0 auto;">
                    <% if post.user.image %>
                      <%= link_to image_tag(post.user.image, style: :'border-radius:25px;'), user_path(post.user) %>
                    <% else %>
                      <%= link_to image_tag('member_head.png', style: :'width:50px;border-radius:25px;'), user_path(post.user) %>
                    <% end %>
                  </div>
                </td>
                <td class="p_i_published_post_date_td" style="text-align:center; vertical-align:middle;white-space:nowrap;">
                  <%= post.start_date %><br>
                  <div style="margin:0 auto; width:2px;">|</div>
                  <%= post.return_date %>
                </td>
                <td class="p_i_published_post_country_td" style="vertical-align:middle;">
                  <div style=" margin:0 auto;width:40px">
                    <% @post_countrys = post.post_countryships.uniq.each do |pc| %>
                      <% country = Country.find(pc.country_id) %>
                      <%= country_flag(country.name, "40px") %>
                    <% end %>
                  </div>
                </td>
                <td class="p_i_published_post_destination_td" style="text-align:center; vertical-align:middle;"><%= post.destination %></td>
                <td class="p_i_published_post_origin_td" style="text-align:center; vertical-align:middle;"><%= post.origin %></td>
                <td class="p_i_published_post_distance_td" style="text-align:center; vertical-align:middle;"><%= post.distance %></td>
                <td class="p_i_published_post_favorite_td" style="text-align:center; vertical-align:middle;">
                  <% favorite = post.find_my_favorite(current_user) %>
                    <div class="favorite_block_<%= post.id %>" style="display:inline;">
                      <%#= render :partial => "favorites/favorite", :locals => { :favorite => favorite, :post => @post } %>
                      <% if favorite %>
                        <%= link_to image_tag('album_sub_love_hover.png', :'data-toggle'=>'tooltip', :'data-placement'=>'auto bottom', :title=>'將此相簿加入我的最愛', style: :'margin-top:5px;'), post_favorite_path(post, favorite), :method => :delete, :locals => { :favorite => favorite }, :remote => true %>
                      <% else %>
                        <%= link_to image_tag('album_sub_love.png', :'data-toggle'=>'tooltip', :'data-placement'=>'auto bottom', :title=>'將此相簿加入我的最愛', style: :'margin-top:5px;'), post_favorites_path(post), :method => :post, :remote => true %>
                      <% end %>
                      <% if post.favorites.count > 0 %>
                        <%= post.favorites.count %> 
                      <% else %>
                      <% end %>
                    </div>
                </td>
                <td class="p_i_published_post_locker_td" style="text-align:center; vertical-align:middle;">
                  <% if current_user && post.user == current_user %>
                    <div class="post_locker_<%= post.id %>" style="display:inline;">
                      <%#= render :partial => "locker", :locals => { :post => @post } %>
                      <% if post.status == 'locked' %>
                        <%= link_to image_tag("album_sub_lock.png",alt: :"sub_lock"),change_status_post_path(post,:status => :'published'), :method => :post, remote: :true %>
                      <% else %>
                        <%= link_to image_tag("album_sub_open.png",alt: :"sub_lock"), change_status_post_path(post, :status=> 'locked'), :method => :post, remote: :true %>
                      <% end %>
                    </div>
                  </td>
                  <td class="p_i_published_post_trashcan_td" style="text-align:center; vertical-align:middle;">
                    <div class="post_trashcan_<%= post.id %>" style="display:inline;">
                      <%#= render :partial => "trashcan", :locals => { :post => @post } %>
                      <% if post.status == 'trashcan' %>
                        <%= link_to image_tag("album_sub_trash_hover.png",alt: :"sub_trashcan"),change_status_post_path(post,:status => :'draft'),:method => :post, remote: :true %>
                      <% else %>
                        <%= link_to image_tag("album_sub_trash.png",alt: :"sub_trashcan"),change_status_post_path(post, :status=> 'trashcan'), :method => :post, remote: :true %>
                      <% end %>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>    <!-- 124 -->
          </tbody>
        </table>
      </div>

      <div role="tabpanel" class="tab-pane" id="draft">
      <!--  -->
        <table class="table table-hover">
          <thead style="background-color:#3a94ca; color:white;">
            <tr>
              <th>PHOTO</th>
              <th style="text-align:center;">AUTHOR</th>
              <th style="text-align:center;">DATE</th>
              <th style="text-align:center;">COUNTRY</th>
              <th style="text-align:center;">DESTINATION</th>
              <th style="text-align:center;">ORIGIN</th>
              <th style="text-align:center;">MILES</th>
              <th style="text-align:center;"></th>
              <th style="text-align:center;"></th>
              <th style="text-align:center;"></th>
            </tr>
          </thead>
          <tbody>
            <% @draft_posts.each do |post| %>
            <tr>
              <td class="p_i_draft_post_photo_td">
                <% if post.photos.first %>
                    <div class="p_i_photo">
                      <%= link_to image_tag(post.photos.first.pic.url(:medium), class: :"p_i_post_photo_area",style: :"width:210px;"), post_path(post) %>
                    </div>
                  <% else %>
                    N/A
                  <% end %>
              </td>
                <td class="p_i_draft_post_author_td" style="vertical-align:middle;">
                  <div style="width:50px;margin:0 auto;">
                    <% if post.user.image %>
                      <%= link_to image_tag(post.user.image, style: :'border-radius:25px;'), user_path(post.user) %>
                    <% else %>
                      <%= link_to image_tag('member_head.png', style: :'width:50px;border-radius:25px;'), user_path(post.user) %>
                    <% end %>
                  </div>
                </td>
                <td class="p_i_draft_post_date_td" style="text-align:center; vertical-align:middle;white-space:nowrap;">
                  <%= post.start_date %><br>
                  <div style="margin:0 auto; width:2px;">|</div>
                  <%= post.return_date %>
                </td>
                <td class="p_i_draft_post_country_td" style="vertical-align:center;">
                  <div style=" margin:0 auto;width:40px">
                    <% @post_countrys = post.post_countryships.uniq.each do |pc| %>
                      <% country = Country.find(pc.country_id) %>
                      <%= country_flag(country.name, "40px") %>
                    <% end %>
                  </div>
                </td>
                <td class="p_i_draft_post_destination_td" style="text-align:center; vertical-align:middle;"><%= post.destination %></td>
                <td class="p_i_draft_post_origin_td" style="text-align:center; vertical-align:middle;"><%= post.origin %></td>
                <td class="p_i_draft_post_distance_td" style="text-align:center; vertical-align:middle;"><%= post.distance %></td>
                <td class="p_i_draft_post_favorite_td" style="text-align:center; vertical-align:middle;">
                  <% favorite = post.find_my_favorite(current_user) %>
                    <div class="favorite_block_<%= post.id %>" style="display:inline;">
                      <%#= render :partial => "favorites/favorite", :locals => { :favorite => favorite, :post => @post } %>
                      <% if favorite %>
                        <%= link_to image_tag('album_sub_love_hover.png', :'data-toggle'=>'tooltip', :'data-placement'=>'auto bottom', :title=>'將此相簿加入我的最愛', style: :'margin-top:5px;'), post_favorite_path(post, favorite), :method => :delete, :locals => { :favorite => favorite }, :remote => true %>
                      <% else %>
                        <%= link_to image_tag('album_sub_love.png', :'data-toggle'=>'tooltip', :'data-placement'=>'auto bottom', :title=>'將此相簿加入我的最愛', style: :'margin-top:5px;'), post_favorites_path(post), :method => :post, :remote => true %>
                      <% end %>
                      <% if post.favorites.count > 0 %>
                        <%= post.favorites.count %> 
                      <% else %>
                      <% end %>
                    </div>
                </td>
                <td class="p_i_draft_post_locker_td" style="text-align:center; vertical-align:middle;">
                  <% if current_user && post.user == current_user %>
                    <div class="post_locker_<%= post.id %>" style="display:inline;">
                      <%#= render :partial => "locker", :locals => { :post => @post } %>
                      <% if post.status == 'locked' %>
                        <%= link_to image_tag("album_sub_lock.png",alt: :"sub_lock"),change_status_post_path(post,:status => :'published'), :method => :post, remote: :true %>
                      <% else %>
                        <%= link_to image_tag("album_sub_open.png",alt: :"sub_lock"), change_status_post_path(post, :status=> 'locked'), :method => :post, remote: :true %>
                      <% end %>
                    </div>
                  </td>
                  <td class="p_i_draft_post_trashcan_td" style="text-align:center; vertical-align:middle;">
                    <div class="post_trashcan_<%= post.id %>" style="display:inline;">
                      <%#= render :partial => "trashcan", :locals => { :post => @post } %>
                      <% if post.status == 'trashcan' %>
                        <%= link_to image_tag("album_sub_trash_hover.png",alt: :"sub_trashcan"),change_status_post_path(post,:status => :'draft'),:method => :post, remote: :true %>
                      <% else %>
                        <%= link_to image_tag("album_sub_trash.png",alt: :"sub_trashcan"),change_status_post_path(post, :status=> 'trashcan'), :method => :post, remote: :true %>
                      <% end %>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>    <!-- 210 -->
          </tbody>
        </table>
      </div>
      <div role="tabpanel" class="tab-pane" id="locked"><!--  -->
        <table class="table table-hover">
          <thead style="background-color:#3a94ca; color:white;">
            <tr>
              <th>PHOTO</th>
              <th style="text-align:center;">AUTHOR</th>
              <th style="text-align:center;">DATE</th>
              <th style="text-align:center;">COUNTRY</th>
              <th style="text-align:center;">DESTINATION</th>
              <th style="text-align:center;">ORIGIN</th>
              <th style="text-align:center;">MILES</th>
              <th style="text-align:center;"></th>
              <th style="text-align:center;"></th>
              <th style="text-align:center;"></th>
            </tr>
          </thead>
          <tbody>
            <% @locked_posts.each do |post| %>
            <tr>
              <td class="p_i_locked_post_photo_td">
                <% if post.photos.first %>
                    <div class="p_i_photo">
                      <%= link_to image_tag(post.photos.first.pic.url(:medium), class: :"p_i_post_photo_area",style: :"width:210px;"), post_path(post) %>
                    </div>
                  <% else %>
                    N/A
                  <% end %>
              </td>
                <td class="p_i_locked_post_author_td" style="vertical-align:middle;">
                  <div style="width:50px;margin:0 auto;">
                    <% if post.user.image %>
                      <%= link_to image_tag(post.user.image, style: :'border-radius:25px;'), user_path(post.user) %>
                    <% else %>
                      <%= link_to image_tag('member_head.png', style: :'width:50px;border-radius:25px;'), user_path(post.user) %>
                    <% end %>
                  </div>
                </td>
                <td class="p_i_locked_post_date_td" style="text-align:center; vertical-align:middle;white-space:nowrap;">
                  <%= post.start_date %><br>
                  <div style="margin:0 auto; width:2px;">|</div>
                  <%= post.return_date %>
                </td>
                <td class="p_i_locked_post_country_td" style="vertical-align:center;">
                  <div style=" margin:0 auto;width:40px">
                    <% @post_countrys = post.post_countryships.uniq.each do |pc| %>
                      <% country = Country.find(pc.country_id) %>
                      <%= country_flag(country.name, "40px") %>
                    <% end %>
                  </div>
                </td>
                <td class="p_i_locked_post_destination_td" style="text-align:center; vertical-align:middle;"><%= post.destination %></td>
                <td class="p_i_locked_post_origin_td" style="text-align:center; vertical-align:middle;"><%= post.origin %></td>
                <td class="p_i_locked_post_distance_td" style="text-align:center; vertical-align:middle;"><%= post.distance %></td>
                <td class="p_i_locked_post_favorite_td" style="text-align:center; vertical-align:middle;">
                  <% favorite = post.find_my_favorite(current_user) %>
                    <div class="favorite_block_<%= post.id %>" style="display:inline;">
                      <%#= render :partial => "favorites/favorite", :locals => { :favorite => favorite, :post => @post } %>
                      <% if favorite %>
                        <%= link_to image_tag('album_sub_love_hover.png', :'data-toggle'=>'tooltip', :'data-placement'=>'auto bottom', :title=>'將此相簿加入我的最愛', style: :'margin-top:5px;'), post_favorite_path(post, favorite), :method => :delete, :locals => { :favorite => favorite }, :remote => true %>
                      <% else %>
                        <%= link_to image_tag('album_sub_love.png', :'data-toggle'=>'tooltip', :'data-placement'=>'auto bottom', :title=>'將此相簿加入我的最愛', style: :'margin-top:5px;'), post_favorites_path(post), :method => :post, :remote => true %>
                      <% end %>
                      <% if post.favorites.count > 0 %>
                        <%= post.favorites.count %> 
                      <% else %>
                      <% end %>
                    </div>
                </td>
                <td class="p_i_locked_post_locker_td" style="text-align:center; vertical-align:middle;">
                  <% if current_user && post.user == current_user %>
                    <div class="post_locker_<%= post.id %>" style="display:inline;">
                      <%#= render :partial => "locker", :locals => { :post => @post } %>
                      <% if post.status == 'locked' %>
                        <%= link_to image_tag("album_sub_lock.png",alt: :"sub_lock"),change_status_post_path(post,:status => :'published'), :method => :post, remote: :true %>
                      <% else %>
                        <%= link_to image_tag("album_sub_open.png",alt: :"sub_lock"), change_status_post_path(post, :status=> 'locked'), :method => :post, remote: :true %>
                      <% end %>
                    </div>
                  </td>
                  <td class="p_i_locked_post_trashcan_td" style="text-align:center; vertical-align:middle;">
                    <div class="post_trashcan_<%= post.id %>" style="display:inline;">
                      <%#= render :partial => "trashcan", :locals => { :post => @post } %>
                      <% if post.status == 'trashcan' %>
                        <%= link_to image_tag("album_sub_trash_hover.png",alt: :"sub_trashcan"),change_status_post_path(post,:status => :'draft'),:method => :post, remote: :true %>
                      <% else %>
                        <%= link_to image_tag("album_sub_trash.png",alt: :"sub_trashcan"),change_status_post_path(post, :status=> 'trashcan'), :method => :post, remote: :true %>
                      <% end %>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>    <!-- 306 -->
          </tbody>
        </table>
      </div>
      <div role="tabpanel" class="tab-pane" id="following"><!--  -->
        <table class="table table-hover">
          <thead style="background-color:#3a94ca;color:white;">
            <tr>
              <th style="">ID</th>
              <th style="text-align:center;">COUNTRY</th>
              <th style="text-align:center;">NEW POST</th>
              <th style="text-align:center;">Total Posts</th>
              <th style="text-align:center;">MILES</th>
              <th style="text-align:center;"></th>
            </tr>
          </thead>
          <tbody>
            <% current_user.following_users.each do |user| %>
            <tr>
              <td style="overflow:hidden;text-overflow:ellipsis;color:#3a94ca;vertical-align:middle;font-size:20px;">
                <% if user.image %>
                  <%= link_to image_tag(user.image, style: :'border-radius:25px;'), user_path(user) %>
                <% else %>
                  <%= link_to image_tag('member_head.png', style: :'width:50px;border-radius:25px;'), user_path(user) %>
                <% end %>&nbsp;
                <%= user.name %>
              </td>
              <td style="text-align:center;vertical-align:middle;">country</td>
              <td style="text-align:center;vertical-align:middle;">
                <% lastest_post = user.posts.last %>
                <% if user.posts.last.present? %>
                  <% if user.posts.last.photos.first.present? %>
                    <%= link_to image_tag(user.posts.last.photos.first.pic.url(:medium), class: :"p_i_post_photo_area",style: :"width:210px;"), post_path(lastest_post) %>
                  <% else %>
                  No Photo
                  <% end %>
                <% else %>
                  <p>~~~~~ The user haven't post yet ~~~~</p>
                <% end %>
              </td> 
              <td style="text-align:center;vertical-align:middle;"><%= user.posts.count %></td>
              <td style="text-align:center;vertical-align:middle;">< MILES ></td>
              <td style="text-align:center;vertical-align:middle;">
                <div class="follow_block_<%= user.id %>">
                  <% follow = current_user.find_my_following(user) %>
                  <%= render :partial => "follows/index_follow", :locals => { :follow => follow, :user => user } %>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div role="tabpanel" class="tab-pane" id="favorites"><!--  -->
        <table class="table table-hover">
          <thead style="background-color:#3a94ca; color:white;">
            <tr>
              <th>PHOTO</th>
              <th style="text-align:center;">AUTHOR</th>
              <th style="text-align:center;">DATE</th>
              <th style="text-align:center;">COUNTRY</th>
              <th style="text-align:center;">DESTINATION</th>
              <th style="text-align:center;">ORIGIN</th>
              <th style="text-align:center;">MILES</th>
              <th></th> 
            </tr>
          </thead>
          <tbody>
            <% @favorite_posts.each do |post| %>
            <tr>
              <td class="p_i_favorite_post_photo_td">
                <% if post.photos.first %>
                  <div class="p_i_photo">
                    <%= link_to image_tag(post.photos.first.pic.url(:medium), class: :"p_i_post_photo_area",style: :"width:210px;"), post_path(post) %>
                  </div>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="p_i_favorite_post_author_td" style="vertical-align:middle;">
                <div style="width:50px;margin:0 auto;">
                  <% if post.user.image %>
                    <%= link_to image_tag(post.user.image, style: :'border-radius:25px;'), user_path(post.user) %>
                  <% else %>
                    <%= link_to image_tag('member_head.png', style: :'width:50px;border-radius:25px;'), user_path(post.user) %>
                  <% end %>
                </div>
              </td>
              <td class="p_i_favorite_post_date_td" style="text-align:center; vertical-align:middle;white-space:nowrap;">
                <%= post.start_date %><br>
                <div style="margin:0 auto; width:2px;">|</div>
                <%= post.return_date %>
              </td>
              <td class="p_i_favorite_post_country_td" style="vertical-align:middle;">
                <div style=" margin:0 auto;width:40px">
                  <% @post_countrys = post.post_countryships.uniq.each do |pc| %>
                    <% country = Country.find(pc.country_id) %>
                    <%= country_flag(country.name, "40px") %>
                  <% end %>
                </div>
              </td>
              <td class="p_i_favorite_post_destination_td" style="text-align:center; vertical-align:middle;"><%= post.destination %></td>
              <td class="p_i_favorite_post_origin_td" style="text-align:center; vertical-align:middle;"><%= post.origin %></td>
              <td class="p_i_favorite_post_distance_td" style="text-align:center; vertical-align:middle;"><%= post.distance %></td>
              <td class="p_i_favorite_post_favorite_td" style="text-align:center; vertical-align:middle;">
                <% favorite = post.find_my_favorite(current_user) %>
                  <div class="favorite_block_<%= post.id %>" style="display:inline;margin-right:10px;color:#3a94ca;">
                    <%#= render :partial => "favorites/favorite", :locals => { :favorite => favorite, :post => @post } %>
                    <% if favorite %>
                      <%= link_to image_tag('album_sub_love_hover.png', :'data-toggle'=>'tooltip', :'data-placement'=>'auto bottom', :title=>'將此相簿加入我的最愛', style: :'margin-top:5px;'), post_favorite_path(post, favorite), :method => :delete, :locals => { :favorite => favorite }, :remote => true %>
                    <% else %>
                      <%= link_to image_tag('album_sub_love.png', :'data-toggle'=>'tooltip', :'data-placement'=>'auto bottom', :title=>'將此相簿加入我的最愛', style: :'margin-top:5px;'), post_favorites_path(post), :method => :post, :remote => true %>
                    <% end %>
                    <% if post.favorites.count > 0 %>
                      <%= post.favorites.count %> 
                    <% else %>
                    <% end %>
                  </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div role="tabpanel" class="tab-pane" id="trashcan"><!--  -->
        <table class="table table-hover">
          <thead style="background-color:#3a94ca; color:white;">
            <tr>
              <th>PHOTO</th>
              <th style="text-align:center;">AUTHOR</th>
              <th style="text-align:center;">DATE</th>
              <th style="text-align:center;">COUNTRY</th>
              <th style="text-align:center;">DESTINATION</th>
              <th style="text-align:center;">ORIGIN</th>
              <th style="text-align:center;">MILES</th>
              <th style="text-align:center;"></th>
              <th style="text-align:center;"></th>
              <th style="text-align:center;"></th>
            </tr>
          </thead>
          <tbody>
            <% @trashcan_posts.each do |post| %>
            <tr>
              <td class="p_i_trashcan_photo_td">
                <% if post.photos.first %>
                    <div class="p_i_photo">
                      <%= link_to image_tag(post.photos.first.pic.url(:medium), class: :"p_i_post_photo_area",style: :"width:210px;"), post_path(post) %>
                    </div>
                  <% else %>
                    N/A
                  <% end %>
              </td>
                <td class="p_i_trashcan_post_author_td" style="vertical-align:middle;">
                  <div style="width:50px;margin:0 auto;">
                    <% if post.user.image %>
                      <%= link_to image_tag(post.user.image, style: :'border-radius:25px;'), user_path(post.user) %>
                    <% else %>
                      <%= link_to image_tag('member_head.png', style: :'width:50px;border-radius:25px;'), user_path(post.user) %>
                    <% end %>
                  </div>
                </td>
                <td class="p_i_trashcan_post_date_td" style="text-align:center; vertical-align:middle;white-space:nowrap;">
                  <%= post.start_date %><br>
                  <div style="margin:0 auto; width:2px;">|</div>
                  <%= post.return_date %>
                </td>
                <td class="p_i_trashcan_post_country_td" style="vertical-align:middle;">
                  <div style=" margin:0 auto;width:40px">
                    <% @post_countrys = post.post_countryships.uniq.each do |pc| %>
                      <% country = Country.find(pc.country_id) %>
                      <%= country_flag(country.name, "40px") %>
                    <% end %>
                  </div>
                </td>
                <td class="p_i_trashcan_post_destination_td" style="text-align:center; vertical-align:middle;"><%= post.destination %></td>
                <td class="p_i_trashcan_post_origin_td" style="text-align:center; vertical-align:middle;"><%= post.origin %></td>
                <td class="p_i_trashcan_post_distance_td" style="text-align:center; vertical-align:middle;"><%= post.distance %></td>
                <td class="p_i_trashcan_post_favorite_td" style="text-align:center; vertical-align:middle;">
                  <% favorite = post.find_my_favorite(current_user) %>
                    <div class="favorite_block_<%= post.id %>" style="display:inline;">
                      <%#= render :partial => "favorites/favorite", :locals => { :favorite => favorite, :post => @post } %>
                      <% if favorite %>
                        <%= link_to image_tag('album_sub_love_hover.png', :'data-toggle'=>'tooltip', :'data-placement'=>'auto bottom', :title=>'將此相簿加入我的最愛', style: :'margin-top:5px;'), post_favorite_path(post, favorite), :method => :delete, :locals => { :favorite => favorite }, :remote => true %>
                      <% else %>
                        <%= link_to image_tag('album_sub_love.png', :'data-toggle'=>'tooltip', :'data-placement'=>'auto bottom', :title=>'將此相簿加入我的最愛', style: :'margin-top:5px;'), post_favorites_path(post), :method => :post, :remote => true %>
                      <% end %>
                      <% if post.favorites.count > 0 %>
                        <%= post.favorites.count %> 
                      <% else %>
                      <% end %>
                    </div>
                </td>
                <td class="p_i_trashcan_post_locker_td" style="text-align:center; vertical-align:middle;">
                  <% if current_user && post.user == current_user %>
                    <div class="post_locker_<%= post.id %>" style="display:inline;">
                      <%#= render :partial => "locker", :locals => { :post => @post } %>
                      <% if post.status == 'locked' %>
                        <%= link_to image_tag("album_sub_lock.png",alt: :"sub_lock"),change_status_post_path(post,:status => :'published'), :method => :post, remote: :true %>
                      <% else %>
                        <%= link_to image_tag("album_sub_open.png",alt: :"sub_lock"), change_status_post_path(post, :status=> 'locked'), :method => :post, remote: :true %>
                      <% end %>
                    </div>
                  </td>
                  <td class="p_i_trashcan_post_trashcan_td" style="text-align:center; vertical-align:middle;">
                    <div class="post_trashcan_<%= post.id %>" style="display:inline;">
                      <%#= render :partial => "trashcan", :locals => { :post => @post } %>
                      <% if post.status == 'trashcan' %>
                        <%= link_to image_tag("album_sub_trash_hover.png",alt: :"sub_trashcan"),change_status_post_path(post,:status => :'draft'),:method => :post, remote: :true %>
                      <% else %>
                        <%= link_to image_tag("album_sub_trash.png",alt: :"sub_trashcan"),change_status_post_path(post, :status=> 'trashcan'), :method => :post, remote: :true %>
                      <% end %>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>    <!-- 478 -->
          </tbody>
        </table>
      </div>

    </div>
  <br><br>
</div>

</div>        <!-- container -->

<script>
  $('#myTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>