
<%= render 'layouts/nav' %>
<div class="photo_area" style="background-color: #f2efef; margin-top: -20px;">
  <br><br>
  <div class="user_bar">
    <div class="btn-group btn-group-lg">
      <!-- Split button -->
      <button type="button" class="btn btn-danger">Recommand</button>
      <!-- Split button -->
      <button type="button" class="btn btn-warning">New</button>
      <!-- Split button -->
      <button type="button" class="btn btn-info">Following</button>
    </div>
  </div>
  <br><br>

  <div class="container">
    <% @posts.each do |post| %>
      <div id="post_<%= post.id %>" style="display: inline-block;">
        <% if post.photos.first %>
        <%= link_to image_tag(post.photos.first.pic.url(:medium), style: :"width:210px;border-top-right-radius:10px;border-top-left-radius:10px;"), post_path(post) %>
        <p class="text-center" style="margin:0;"><%= image_tag ("main_map.png"), alt: :"icon", style: :"height:30px;"%><%= post.destination %></p>
        <p class="text-center" style="margin:0 0 20px">Lorem ipsum dolor sit.</p>
      </div>
        <% else %>
          N/A
        <% end %>
    <% end %>
  </div>
</div>

<br><br>
<div class="text-center">
  <%= image_tag ("main_map.png"), alt: :"icon", style: :"height:60px;"%>
  <p style="color: #7fb2f9;font-size:20px;">Find Location On Map</p>
  <br>
</div>

<div class="container">
  <!-- google map -->
  <div id="map"></div>

  <div class="clearfix"></div>
  <br><br>
  <div class="col-md-4">
    <div class="f_title" style="color: #7fb2f9;font-size: 17px;">
      What is Traveler Mark ?
    </div>
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam doloremque maxime adipisci necessitatibus explicabo quae tempora odio nobis. Porro nesciunt laborum aut, illo id quae praesentium magni alias vitae, non.</p>
  </div>
  <div class="col-md-4">
    <div class="f_title" style="color: #7fb2f9;font-size: 17px;">
      What is Traveler Mark ?
    </div>
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quod praesentium fugiat nostrum, nesciunt assumenda. Necessitatibus sapiente amet sequi voluptatum deleniti veritatis eaque, iusto a numquam fugit facilis, aliquam nostrum.</p>
  </div>
  <div class="col-md-4">
    <div class="f_title" style="color: #7fb2f9;font-size: 17px;">
      What is Traveler Mark ?
    </div>
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, repudiandae. Modi mollitia veritatis soluta, consequatur illum nam perferendis tempore aliquam, minima adipisci, distinctio est! Blanditiis corrupti, saepe. Dignissimos velit, dolorem!</p>
  </div>
</div>
<script>
function initialize() {

  // Create an array of styles.
  var styles = [
    {
      stylers: [
        { hue: "#00ffe6" },
        { saturation: -20 }
      ]
    },{
      featureType: "road",
      elementType: "geometry",
      stylers: [
        { lightness: 100 },
        { visibility: "simplified" }
      ]
    },{
      featureType: "road",
      elementType: "labels",
      stylers: [
        { visibility: "off" }
      ]
    }
  ];

  // Create a new StyledMapType object, passing it the array of styles,
  // as well as the name to be displayed on the map type control.
  var styledMap = new google.maps.StyledMapType(styles,
    {name: "Styled Map"});
  var styledMap1 = new google.maps.StyledMapType(styles,
    {name: "My Best"});

  // Create a map object, and include the MapTypeId to add
  // to the map type control.
  var mapOptions = {
    zoom: 11,
    center: new google.maps.LatLng(55.6468, 37.581),
    mapTypeControlOptions: {
      mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
    }
  };
  var map = new google.maps.Map(document.getElementById('map'),
    mapOptions);

  //Associate the styled map with the MapTypeId and set it to display.
  map.mapTypes.set('map_style', styledMap, styledMap1);
  map.setMapTypeId('map_style');
}
</script>
<script type="text/javascript">
var poly;
var map;

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 7,
    center: {lat: 41.879, lng: -87.624}  // Center the map on Chicago, USA.
  });

  poly = new google.maps.Polyline({
    strokeColor: '#000000',
    strokeOpacity: 1.0,
    strokeWeight: 3
  });
  poly.setMap(map);

  // Add a listener for the click event
  map.addListener('click', addLatLng);
}

// Handles click events on a map, and adds a new point to the Polyline.
function addLatLng(event) {
  var path = poly.getPath();

  // Because path is an MVCArray, we can simply append a new coordinate
  // and it will automatically appear.
  path.push(event.latLng);

  // Add a new marker at the new plotted point on the polyline.
  var marker = new google.maps.Marker({
    position: event.latLng,
    title: '#' + path.getLength(),
    map: map
  });
}

</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh7eo2VWtvG5qnxk2VvAJsNis4WgHHveA&callback=initialize">
</script>