<%= render 'layouts/nav' %>
<div class="sub_menu">
  <div class="user_bar">
    <% if current_user == nil %>
      <ul class="nav nav-pills">
        <li class="active"><a class="recommand" data-toggle="pill" href="#home">Recommand</a></li>
        <li class="following"><a class="following" data-toggle="pill" href="#menu2">New</a></li>
      <% else %>
        <ul class="nav nav-pills">
        <li class="active"><a class="recommand" data-toggle="pill" href="#home">Recommand</a></li>
        <li class="new"><a class="new" data-toggle="pill" href="#menu1">New</a></li>
        <li class="following"><a class="following" data-toggle="pill" href="#menu2">Following</a></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="photo_area" style="background-color: #f2efef; padding-top: 20px;">
  <div class="container">
    <% @posts.each do |post| %>
      <div id="p_l_post_<%= post.id %>" style="display: inline-block;">
        <% if post.photos.first %>
          <div class="p_l_post_photo">
            <%= link_to image_tag(post.photos.first.pic.url(:medium), class: :"p_l_post_photo_area",style: :"border-top-right-radius:10px;border-top-left-radius:10px;"), post_path(post) %>
          </div>
        <% else %>
          <div class="p_l_post_photo">
            <%= link_to image_tag("default.jpg", class: :"p_l_post_photo_area",style: :"border-top-right-radius:10px;border-top-left-radius:10px;"), post_path(post) %>
          </div>
        <% end %>
          <p class="p_l_destination text-center" style="margin:0;padding:4px 24px 0 24px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;"><%= image_tag ("main_map.png"), alt: :"icon", style: :"height:30px;" %><%= post.destination %></p>
          <p class="text-center" style="padding:3px 0;margin:0 10px;border-top:1px solid #e5e5e5;">
            <% if post.user.image %>
              <%=link_to image_tag(post.user.image, style: :'height:32px;border-radius:20px;margin-right:10px;'), user_path(post.user) %>
            <% else %>
              <%= image_tag "member_head.png", :style=>"height:40px;border-radius:4em;margin-right:10px" %>
            <% end %><%= post.user.name %>
          </p>
      </div>
    <% end %>
  </div>
</div>

<br><br>
<%= @post_locations.inspect %>
<hr><%= @aaa.inspect %>
<div class="text-center">
  <%= image_tag ("main_map.png"), alt: :"icon", style: :"height:90px;"%>
  <p style="color: #3a94ca;font-size:30px;">Find Location On Map</p>
  <br>
</div>

<div class="container">
  <!-- google map -->
  <div id="map"></div>

  <div class="clearfix"></div>
  <br><br>
  <div class="col-md-4">
    <div class="f_title" style="color: #7fb2f9;font-size: 17px;">
      What is Traveler Mark ?
    </div>
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam doloremque maxime adipisci necessitatibus explicabo quae tempora odio nobis. Porro nesciunt laborum aut, illo id quae praesentium magni alias vitae, non.</p>
  </div>
  <div class="col-md-4">
    <div class="f_title" style="color: #7fb2f9;font-size: 17px;">
      What is Traveler Mark ?
    </div>
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quod praesentium fugiat nostrum, nesciunt assumenda. Necessitatibus sapiente amet sequi voluptatum deleniti veritatis eaque, iusto a numquam fugit facilis, aliquam nostrum.</p>
  </div>
  <div class="col-md-4">
    <div class="f_title" style="color: #7fb2f9;font-size: 17px;">
      What is Traveler Mark ?
    </div>
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, repudiandae. Modi mollitia veritatis soluta, consequatur illum nam perferendis tempore aliquam, minima adipisci, distinctio est! Blanditiis corrupti, saepe. Dignissimos velit, dolorem!</p>
  </div>
</div>
<script>
var poly;
var map;
  // Create an array of styles.
  <%= render 'layouts/mapStyles' %>

// The following example creates complex markers to indicate beaches near
// Sydney, NSW, Australia. Note that the anchor is set to (0,32) to correspond
// to the base of the flagpole.
function initialize() {
  // Create a new StyledMapType object, passing it the array of styles,
  // as well as the name to be displayed on the map type control.
  var style1type = new google.maps.StyledMapType(style1,
      {name: "Orange"});
  var style2type = new google.maps.StyledMapType(style2,
      {name: "DarkBlue"});
  var style3type = new google.maps.StyledMapType(style3,
      {name: "Pink"});
  var style4type = new google.maps.StyledMapType(style4,
      {name: "LightBlue"});
  var style5type = new google.maps.StyledMapType(style5,
      {name: "LightGreen"});
  var mapOptions = {
    zoom: 2,
    center: new google.maps.LatLng(23.26, 0),
    // center: {lat: -33.9, lng: 151.2},
    scrollwheel: false,
    mapTypeControlOptions: {
      mapTypeIds: [google.maps.MapTypeId.ROADMAP,'style1id','style2id','style3id','style4id','style5id']
    },
  }; //mapOptions

  var map = new google.maps.Map(document.getElementById('map'), mapOptions);

  map.mapTypes.set('style1id', style1type);
  map.setMapTypeId('style1id');
  map.mapTypes.set('style4id', style4type);
  map.setMapTypeId('style4id');
  map.mapTypes.set('style5id', style5type);
  map.setMapTypeId('style5id');
  map.mapTypes.set('style3id', style3type);
  map.setMapTypeId('style3id');
  map.mapTypes.set('style2id', style2type);
  map.setMapTypeId('style2id');

  setMarkers(map);
  
  // var geocoder = new google.maps.Geocoder();
  // geocodeAddress(geocoder, map);
}

// Data for the markers consisting of a name, a LatLng and a zIndex for the
// order in which these markers should display on top of each other.
var new_posts_location=
    <%= raw @locations_for_javascript %>

var beaches = [
  ['Bondi Beach', -33.890542, 151.274856, 4],
  ['Coogee Beach', -33.923036, 151.259052, 5],
  ['Cronulla Beach', -34.028249, 151.157507, 3],
  ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
  ['Maroubra Beach', -33.950198, 151.259302, 1]
];

// get geocode
// function geocodeAddress(geocoder, resultsMap) {
//   // var address = document.getElementById('address').value;
//   // geocoder.geocode({'address': "bondi beach"}, function(results, status) {
//   geocoder.geocode({'address': address}, function(results, status) {
//     if (status === google.maps.GeocoderStatus.OK) {
//       console.log(results[0].geometry.location.lat());
//       console.log(results[0].geometry.location.lng());
//       resultsMap.setCenter(results[0].geometry.location);
//       var marker = new google.maps.Marker({
//         map: resultsMap,
//         position: results[0].geometry.location
//       });
//     } else {
//       alert('Geocode was not successful for the following reason: ' + status);
//     }
//   });

// }

function setMarkers(map) {
  // Adds markers to the map.

  // Marker sizes are expressed as a Size of X,Y where the origin of the image
  // (0,0) is located in the top left of the image.

  // Origins, anchor positions and coordinates of the marker increase in the X
  // direction to the right and in the Y direction down.
  var image = {
    url:'http://s3-us-west-1.amazonaws.com/northcali1/imageables/images/000/000/030/medium/icon1-shadow.png?1474910681',
    // This marker is 20 pixels wide by 32 pixels high.
    // size: new google.maps.Size(20, 32),
    // The origin for this image is (0, 0).
    // origin: new google.maps.Point(0, 0),
    // The anchor for this image is the base of the flagpole at (0, 32).
    anchor: new google.maps.Point(20, 54)
  }
  // Shapes define the clickable region of the icon. The type defines an HTML
  // <area> element 'poly' which traces out a polygon as a series of X,Y points.
  // The final coordinate closes the poly by connecting to the first coordinate.
  // var shape = {
  //   coords: [1, 1, 1, 20, 18, 20, 18, 1],
  //   type: 'poly'
  // };

  for (var i = 0; i < new_posts_location.length; i++) {
    var beach = new_posts_location[i];
    var marker = new google.maps.Marker({
      position: {lat: beach[1], lng: beach[2]},
      // position: beach[0],
      map: map,
      icon: image,
      // shape: shape,
      title: beach[0],
      // zIndex: beach[3]
    });
  }
}
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh7eo2VWtvG5qnxk2VvAJsNis4WgHHveA&callback=initialize">
</script>