
<%= render 'layouts/nav' %>
<div class="photo_area" style="background-color: #f2efef; margin-top: -20px;">
  <br><br>
  <div class="user_bar">
    <div class="btn-group btn-group-lg">
      <!-- Split button -->
      <button type="button" class="btn btn-danger" style="background-color: white;color: #3a94ca;">Recommand</button>
      <!-- Split button -->
      <button type="button" class="btn btn-warning" style="background-color: white;color: #3a94ca;">New</button>
      <!-- Split button -->
      <button type="button" class="btn btn-info" style="background-color: white;color: #3a94ca;">Following</button>
    </div>
  </div>
  <br><br>

  <div class="container">
    <% @posts.each do |post| %>
      <div id="p_l_post_<%= post.id %>" style="display: inline-block;">
        <% if post.photos.first %>
        <div class="p_l_post_photo">
          <%= link_to image_tag(post.photos.first.pic.url(:medium), class: :"p_l_post_photo_area",style: :"width:210px;border-top-right-radius:10px;border-top-left-radius:10px;"), post_path(post) %>
        </div>
        <p class="text-center" style="margin:0;"><%= image_tag ("main_map.png"), alt: :"icon", style: :"height:30px;"%><%= post.destination %></p>
        <p class="text-center" style="margin:0 0 20px">Lorem ipsum dolor sit.</p>
      </div>
        <% else %>
          N/A
        <% end %>
    <% end %>
  </div>
</div>

<br><br>
<div class="text-center">
  <%= image_tag ("main_map.png"), alt: :"icon", style: :"height:60px;"%>
  <p style="color: #3a94ca;font-size:20px;">Find Location On Map</p>
  <br>
</div>

<div class="container">
  <!-- google map -->
  <div id="map"></div>

  <div class="clearfix"></div>
  <br><br>
  <div class="col-md-4">
    <div class="f_title" style="color: #7fb2f9;font-size: 17px;">
      What is Traveler Mark ?
    </div>
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam doloremque maxime adipisci necessitatibus explicabo quae tempora odio nobis. Porro nesciunt laborum aut, illo id quae praesentium magni alias vitae, non.</p>
  </div>
  <div class="col-md-4">
    <div class="f_title" style="color: #7fb2f9;font-size: 17px;">
      What is Traveler Mark ?
    </div>
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quod praesentium fugiat nostrum, nesciunt assumenda. Necessitatibus sapiente amet sequi voluptatum deleniti veritatis eaque, iusto a numquam fugit facilis, aliquam nostrum.</p>
  </div>
  <div class="col-md-4">
    <div class="f_title" style="color: #7fb2f9;font-size: 17px;">
      What is Traveler Mark ?
    </div>
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, repudiandae. Modi mollitia veritatis soluta, consequatur illum nam perferendis tempore aliquam, minima adipisci, distinctio est! Blanditiis corrupti, saepe. Dignissimos velit, dolorem!</p>
  </div>
</div>
<script>
var poly;
var map;
function initialize() {
  var my_best = [
    {
      "featureType":"all",
      "elementType":"all",
      "stylers":[
        {"invert_lightness":true},
        {"saturation":10},
        {"lightness":30},
        {"gamma":0.5},
        {"hue":"#435158"}]
      }];
  // Create an array of styles.
  var styles = [
    {
      stylers: [
        { hue: "#00ffe6" },
        { saturation: -20 }
      ]
    },{
      featureType: "road",
      elementType: "geometry",
      stylers: [
        { lightness: 100 },
        { visibility: "simplified" }
      ]
    },{
      featureType: "road",
      elementType: "labels",
      stylers: [
        { visibility: "off" }
      ]
    }
  ];

  // Create a new StyledMapType object, passing it the array of styles,
  // as well as the name to be displayed on the map type control.
  var styledMap = new google.maps.StyledMapType(styles,
    {name: "Styled Map"});
  var styledMap1 = new google.maps.StyledMapType(my_best,
    {name: "My Best"});

  // Create a map object, and include the MapTypeId to add
  // to the map type control.
  var mapOptions = {
    zoom: 11,
    center: new google.maps.LatLng(-34, 151),
    // center: {lat: -34, lng: 151},
    scrollwheel: false,
    mapTypeControlOptions: {
      mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style','map_style1']
    }
  }; //mapOptions

  map = new google.maps.Map(document.getElementById('map'),
    mapOptions);

  poly = new google.maps.Polyline({
    strokeColor: '#000000',
    strokeOpacity: 1.0,
    strokeWeight: 3
  });
  poly.setMap(map);

  // Add a listener for the click event
  map.addListener('click', addLatLng);

  // Associate the styled map with the MapTypeId and set it to display.
  map.mapTypes.set('map_style', styledMap);
  map.setMapTypeId('map_style');
  map.mapTypes.set('map_style1', styledMap1);
  map.setMapTypeId('map_style1');

  // google.maps.event.addDomListener(
  //         window, 'load', initialize);
}

// Handles click events on a map, and adds a new point to the Polyline.
function addLatLng(event) {
  var path = poly.getPath();

  // Because path is an MVCArray, we can simply append a new coordinate
  // and it will automatically appear.
  path.push(event.latLng);

  // Add a new marker at the new plotted point on the polyline.
  var marker = new google.maps.Marker({
    position: event.latLng,
    title: '#' + path.getLength(),
    map: map
  });
}
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh7eo2VWtvG5qnxk2VvAJsNis4WgHHveA&callback=initialize">
</script>