<%= render 'layouts/nav' %>
<div class="container">
  <h1>新增旅行主題</h1>
  <%= form_for @post, url: posts_path do |f| %>

    <div class="form-group">
        <%= f.label :pic, "Upload File" %>
        <%= f.file_field :pic %>
        <%= check_box_tag "destroy_photo", "1" %> 刪除檔案
    </div>

    <div class="field">
      <%= f.label :title, '主題' %><br/>
      <%= f.text_field :title, autofocus: true, :class =>"form-control" %>
    </div>
    <div class="field">
      <%= f.label :trip_date, '' %><br/>
      <%= f.text_field :trip_date, :class =>"form-control" %>
    </div>
    <div class="field">
      <%= f.label :origin, '出發地' %><br/>
      <%= f.text_field :origin, autocomplete: "off", :class =>"form-control" %>
    </div>
    <div class="field">
      <%= f.label :destination, '目的地' %><br/>
      <%= f.text_field :destination, autocomplete: "off", :class =>"form-control" %>
    </div>
    <div class="field">
      <%= f.label :distance, '' %><br >
      <%= f.text_field :distance, :class =>"form-control" %>
    </div>
    <div class="field">
      <%= f.label :description, '' %><br >
      <%= f.text_area :description, :class =>"form-control" %>
    </div>

    <%= f.submit '新增旅行主題', class:"btn btn-primary"  %>
  <% end %>
</div>