<%= render 'layouts/nav' %>
<div class="container">
<% if false %>
  <div>
  <%= link_to image_tag('album_index_back_hover.png', style: :'width:30px'), posts_path%>
  <div class="text-center">
    <%= image_tag "main_location.png", alt: :"icon", style: :"margin:auto;" %>
  </div>
  <!-- 主題： <%#= @post.title %> -->
  <div class="pull-right">
   <%= image_tag "album_index_share.png", alt: :"index_share" %>
   <%= image_tag "album_sub_love.png", alt: :"sub_love" %>
  </div>
  </div>
<% end %>
</div>
<!--  -->
<div class="sub_menu" style="border-bottom:4px solid gray">
<div class="container">
  <div class="col-md-4">
    <%= link_to image_tag('album_index_back_hover.png', style: :'width:30px'), posts_path%>
  </div>
  <div class="col-md-4 text-center">
    <%= image_tag "main_location.png", alt: :"icon" %>
  </div>
  <div class="col-md-4">
    <div class="pull-right">
    <%= image_tag "album_index_share.png", alt: :"index_share", style: :"margin-right:20px" %>
    <%= image_tag "album_sub_lock.png", alt: :"sub_lock", style: :"margin-right:20px" %>
    <%= image_tag "album_sub_love.png", alt: :"sub_love", style: :"margin-right:20px" %>
    <%= image_tag "album_sub_trash.png", alt: :"sub_trash" %>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="text-center">
    <%= @post.destination %>
  </div>
  </div>
  </div>
  <!--  -->
  <div class="photo_area" style="background-color: #f2efef;">
  <br><br>
  <div class="container">
  <% unless @photos.empty? %>
    <%= image_tag @post.photos.first.pic.url, style: :'margin-bottom:5px;' %>
    <% @photos.each do |pic| %>
    <div class="span3" id="picture_<%= pic.id %>" style="display: inline-block;">

      <%= image_tag pic.pic.url(:medium) %>
        <p style="">
        <%= link_to "Edit picture", photo_path(pic) %>
        <%=
          link_to "Delete picture", pic,
            :data => { :confirm => "Are you sure?" },
            :method => :delete
          %>
        </p>
    </div>
    <% end %>
  <% end %>
  </div>
  </div>

  <div class="container">
  <br>
  出發時間：<%= @post.trip_date %>
  出發地：<%= @post.origin %>
  目的地：<%= @post.destination %>
  <br>
  里程數：<%= @post.distance %>
  <br>
  旅行紀錄：<%= simple_format(@post.description) %>

</div>
