<%= render 'layouts/nav' %>
<div class="container">
<% if false %>
  <div>
  <%= link_to image_tag('album_index_back_hover.png', style: :'width:30px'), posts_path%>
  <div class="text-center">
    <%= image_tag "main_location.png", alt: :"icon", style: :"margin:auto;" %>
  </div>
  <!-- 主題： <%#= @post.title %> -->
  <div class="pull-right">
   <%= image_tag "album_index_share.png", alt: :"index_share" %>
   <%= image_tag "album_sub_love.png", alt: :"sub_love" %>
  </div>
  </div>
<% end %>
</div>
<!--  -->
<div class="sub_menu" style="border-bottom:4px solid gray">
<div class="container">
  <div class="col-md-4">
    <%= link_to image_tag('album_index_back_hover.png', style: :'width:30px'), posts_path%>
  </div>
  <div class="col-md-4 text-center">
    <%= image_tag "main_location.png", alt: :"icon" %>
  </div>
  <div class="col-md-4">
    <div class="pull-right">
    <%= image_tag "album_index_share.png", alt: :"index_share", style: :"margin-right:20px" %>
    <%= image_tag "album_sub_lock.png", alt: :"sub_lock", style: :"margin-right:20px" %>

    <% favorite = @post.find_my_favorite(current_user) %>

    <div id="favorite_block">
      <%= render :partial => "favorites/favorite", :locals => { :favorite => favorite } %>
    </div>

    <%= image_tag "album_sub_love.png", alt: :"sub_love", style: :"margin-right:20px" %>
    <%= image_tag "album_sub_trash.png", alt: :"sub_trash" %>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="text-center">
    <%= @post.destination %>
  </div>
  </div>
  </div>
  <!--  -->
  <div class="photo_area" style="background-color: #f2efef;">
  <br><br>
  <div class="container">
  <% unless @photos.empty? %>
    <%= image_tag @post.photos.first.pic.url, style: :'margin-bottom:5px;' %>
    <% @photos.each do |pic| %>
    <div class="span3" id="picture_<%= pic.id %>" style="display: inline-block;">

      <%= image_tag pic.pic.url(:medium) %>
        <p style="">
        <%= link_to "Edit picture", photo_path(pic) %>
        <%=
          link_to "Delete picture", pic,
            :data => { :confirm => "Are you sure?" },
            :method => :delete
          %>
        </p>
    </div>
    <% end %>
  <% end %>
  </div>
  </div>
<br><br>
<div class="container">
  <div class="col-md-6">
    <%=image_tag current_user.image, :style=>"border-radius:3em; margin-right:20px"%>
    <div style="display:inline-block;vertical-align: middle;">
      <div style="font-size: 20px;">
        <div>
          <%= @post.title %>
        </div>
        <div style="color:gray;">
          <%= current_user.name %>
        </div>
      </div>
    </div>
    <hr>
    <p style="font-size: 18px;color: gray;">From &nbsp;
      <i style="color:#3a94ca;"><%= @post.origin %></i>
      &nbsp;&nbsp;To&nbsp;
      <i style="color:#3a94ca;"><%= @post.destination %></i>,
       &nbsp;Total Miles <i style="color:#3a94ca;">&nbsp;<%= @post.distance %></i>
      <br>
      Date<i style="color:#3a94ca;">&nbsp;<%= @post.start_date %></i>&nbsp;--<i style="color:#3a94ca;">&nbsp;<%= @post.return_date %></i>
    </p>
    <%= simple_format @post.description, class: :"p_s_description" %>
  </div>

  <!-- <div class="col-md-6"> -->
    <div class="fb_comment"></div>
      <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.6&appId=1616713158647872";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>
  <!-- </div> -->
  <div class="fb-comments" data-href="http://localhost:3000/posts/" data-numposts="10" style="margin-top:32px;">

  </div>
</div>
