<style>
.tooltip > .tooltip-inner{
  background-color: #3a94ca;
  color: white;
  padding: 10px;
  font-size: 15px;
}
.tooltip.top > .tooltip-arrow{
  border-top: 5px solid #3a94ca;
}
.tooltip.left > .tooltip-arrow {
  border-left: 5px solid #3a94ca;
}
.tooltip.bottom > .tooltip-arrow{
  border-bottom: 5px solid #3a94ca;
}
.tooltip.right > .tooltip-arrow{
  border-right: 5px solid #3a94ca;
}
</style>
<%= render 'layouts/nav' %>
<!--  -->
<div class="sub_menu" style="border-bottom:4px solid #ddd5d5">
<div class="container">
  <div class="col-md-4">
    <%= link_to image_tag('album_index_back_hover.png', style: :'width:30px;'), posts_path %>
  </div>
  <div class="col-md-4 text-center">
    <%= image_tag "main_location.png", alt: :"icon" %>
  </div>
  <div class="col-md-4">
    <div class="pull-right">
      <% favorite = @post.find_my_favorite(current_user) %>
        <div id="favorite_block" style="display:inline; margin-right:20px;">
          <%= render :partial => "favorites/favorite", :locals => { :favorite => favorite } %>
        </div>
      <% if current_user && @post.user == current_user %>
        <div class="post_locker" style="display:inline;">
          <%= render :partial => "locker", :locals => { :post => @post } %>
        </div>
        <div class="post_trashcan" style="display:inline;">
          <%= render :partial => "trashcan", :locals => { :post => @post } %>
        </div>
      <% end %>    
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="text-center">
    <%= @post.destination %>
  </div>
  </div>
  </div>
</div>

  <!--  -->
<div class="photo_area" style="background-color: #f2efef;">
  <br>
  <div class="container">
  <% unless @photos.empty? %>
    <%= image_tag @post.photos.first.pic.url, style: :'margin-bottom:15px;' %>
    <% @photos.each do |pic| %>
    <div class="span3" id="picture_<%= pic.id %>" style="display: inline-block;">

      <%= image_tag pic.pic.url(:medium) %>
        <p style="">
        <%= link_to "Edit picture", photo_path(pic) %>
        <%=
          link_to "Delete picture", pic,
            :data => { :confirm => "Are you sure?" },
            :method => :delete
          %>
        </p>
    </div>
    <% end %>
  <% end %>
  </div>
</div>

<br><br>
<div class="container">
  <div class="col-md-6">
    <%=image_tag current_user.image, :style=>"border-radius:3em; margin-right:20px"%>
    <div style="display:inline-block;vertical-align: middle;">
      <div style="font-size: 20px;">
        <div>
          <%= @post.title %>
        </div>
        <div style="color:gray;">
          <%= @post.user.name %>
        </div>
      </div>
    </div>
    <hr>
    <p style="font-size: 18px;color: gray;">From &nbsp;
      <i style="color:#3a94ca;"><%= @post.origin %></i>
      &nbsp;&nbsp;To&nbsp;
      <i style="color:#3a94ca;"><%= @post.destination %></i>,
       &nbsp;Total Miles <i style="color:#3a94ca;">&nbsp;<%= @post.distance %></i>
      <br>
      Date<i style="color:#3a94ca;">&nbsp;<%= @post.start_date %></i>&nbsp;--<i style="color:#3a94ca;">&nbsp;<%= @post.return_date %></i>
    </p>
    <%= simple_format @post.description, class: :"p_s_description" %>
  </div>

  <!-- <div class="col-md-6"> -->
    <div class="fb_comment"></div>
      <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.6&appId=1616713158647872";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>
  <!-- </div> -->
  <div class="fb-comments" data-href="http://localhost:3000/posts/" data-numposts="10" style="margin-top:32px;">

  </div>
</div>
